GROQ_API_KEY=your_key_here

LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=your_key_here
LANGSMITH_PROJECT=docmind
LANGCHAIN_TRACING_V2=true

POSTGRES_USER=user
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=tenants
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB

SECRET_KEY=secret

OLLAMA_BASE_URL=http://localhost:11434
QDRANT_BASE_URL=http://localhost:6333

MODEL_VECTOR_DIMENSION=vector_dimensions_here

SPARSE_INDEX_DIR=data/sparse_indexes

# container → container : use service name  (postgres  :5432) ~ inside Docker env
# host      → container : use localhost     (localhost :5432)
