GROQ_API_KEY=your_key_here

LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=your_key_here
LANGSMITH_PROJECT=docmind
LANGCHAIN_TRACING_V2=true

OLLAMA_BASE_URL=http://localhost:11434
QDRANT_BASE_URL=http://localhost:6333

MODEL_VECTOR_DIMENSION=vector_dimensions_here

SPARSE_INDEX_DIR=data/sparse_indexes
